<ul id="navAdm" class="nav">
  <li class="nav-item">
   <a  class="nav-link disabled" id="item"><app-profile></app-profile></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/dashboardAdmin">Admin Dashboard</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link active" routerLink="/searchAdmin">Search Course</a>
  </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboardAdmin/addCourse">Add Course</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboardAdmin/allCoursesAdmin">All Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/logout">Logout</a>
    </li>
  </ul>

